* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


/* Header */
.header {
  background-color: #0D84DA;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 1.1rem;
  position: sticky;
}

.header a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}


.header .delete,
.header .export,
.header .import {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

/* Search */

.search {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 8px;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
}


.search input {
  outline: none;
  border: none;
  background: transparent;
  margin-left: 10px;
  font-size: 1rem;
  width: 100%;
}


body {
  background: url('./img/bg.jpeg');
  background-position: bottom;
  background-size: cover;
  min-height: 100vh;
  z-index: -1;
}

/* Notes Columns */

.notes-cols {
  margin: 20px;
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}


.notes-cols a {
  text-decoration: none;
  height: 180px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 8px;
  word-wrap: break-word;
  background-color: #EDEEF0;
}

.notes-cols a:link,
.notes-cols a:active,
.notes-cols a:visited,
.notes-cols a:hover {
  text-decoration: none;
  color: rgb(42, 41, 41);
}

.actual-notes {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.actual-notes .content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.actual-notes .time {
  font-weight: 500;
  color: rgb(94, 93, 93);
  display: flex;
  gap: 5px;
}

.actual-notes .title {
  font-weight: bold;
  color: rgb(60, 59, 59);
  display: flex;
  gap: 5px;
}

/* Add Notes, Edit Notes CSS */


.addNote {
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 22px;
  min-height: 85vh;
  font-size: 1.1rem;
  font-family: sans-serif;
}

.addNote input {
  padding: 6px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 1rem;
}

.addNote button {
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.1rem;
  background-color: #0D84DA;
  border: none;
  color: white;
  width: 100%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.addNote textarea {
  border-radius: 5px;
  height: 230px;
  padding: 5px;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 1rem;
}

.addNote .description,
.addNote .title,
.addNote .button {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
  width: 100%;
}

.addNote label {
  color: rgb(71, 71, 71);
}

/* Inputs Fields CSS */

input:focus,
textarea:focus,
select:focus {
  outline: none;
}


textarea {
  resize: none;
}



/* Full Notes */

.full-notes {
  display: flex;
  gap: 10px;
  flex-direction: column;
  word-wrap: break-word;
  margin: 20px;

}

.full-notes .button {
  display: flex;
  gap: 10px;
}


.full-notes button {
  padding: 10px;
  border-radius: 8px;
  font-weight: normal;
  font-size: 1rem;
  background-color: #0D84DA;
  border: none;
  color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.full-notes .description,
.full-notes .title {
  border: 2px solid rgb(206, 204, 204);
  border-radius: 6px;
  padding: 10px;
}

.full-notes .title {
  color: rgb(75, 75, 75);
}


/* 404 Not Found */

.not-found,
.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 60vh;
  gap: 10px;
  margin: 20px;
}

/* Media Queries */

@media screen and (max-width : 600px) {
  .header {
    gap: 18px;
    font-size: 1rem;
  }

  .addNote button {
    font-size: 0.9rem;
  }
}




@media screen and (max-width : 650px) {
  .actual-notes .time {
    font-size: 0.85rem;
  }

  .empty h2 {
    font-size: larger;
  }
}


@media screen and (max-width : 520px) {
  .header p {
    display: none;
  }

  .header {
    gap: 50px;
  }

}

@media screen and (max-width : 320px) {
  .empty p {
    font-size: small;
  }

  .header {
    gap: 35px;
  }
  .notes-cols{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}